<br>
<br>
<br>
<h2 class = "text-center border border-info"> Data Sharing </h2>
<br>
<br>
<br>


<app-cmp1></app-cmp1>
<app-cmp2></app-cmp2>

<br>
<br>
<br>

<div class="footer">
    <hr>
    <p class="text-info">Data sharing between components is an essential knowledge that everyone should have before starting their first Angular application. In this article, I’m going to discuss 3common methods that we can use to share data between Angular components.
        -Sharing Data via Input
        -Sharing Data via Output and EventEmitter
        -Sharing Data with a Service
        
    </p>
  </div>
