<div class = "container">
  <h1 class = "text-center">{{title}}</h1>

  <div class = "row">
    <div class = "col-md-3">
      <button (click) ="showdemo()" class="btn btn-danger">DataBinding T-Shirt</button>
    </div>
    <div class = "col-md-6"></div>
    <div class = "col-md-3">
      <button (click) ="showd()" class="btn btn-warning"> Stock Details</button>
    </div>

  </div>
  <hr/>
  <div class ="row">
    <div class = "col-md-12">
    <app-tshirtdatabinding *ngIf = "showdatabindingdemo"></app-tshirtdatabinding>
    <app-product *ngIf = "showdirectivedemo"></app-product>
    </div>>
  </div>

</div>


