<br>
<br>
<br>
<h2 class = "text-center border border-info"> Product Items </h2>

<h4 class="text-info">Search product by title :</h4>
<input type="text" [(ngModel)] = "searchtext" placeholder="Enter title for search" >
<br>
<br>
<h4 class="text-info">Search product by price :</h4>
<input type="text" [(ngModel)] = "searchpipe" placeholder="Enter price for search" >
<br>
<br>
<br>

<div class = "row">
    <table class = "table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Price
                </th>
                <th>
                    ExpiryDate
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    In Stock
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let p of products | mycustomepipe : searchtext | pricepipe:searchpipe">
                <td>{{p.Id}}</td>
                <td>{{p.Title}}</td>
                <td>{{p.Price}}</td>
                <td>{{p.ExpiryDate}}</td>
                <td>{{p.Quantity}}</td>
                
                <td>
                    <ng-container *ngIf="p.isInStock; then instock else outofstock">
                    </ng-container>
                     
                    <ng-template #instock>
                           <i class = "fa fa-check-square" aria-hidden="true"></i>
                     </ng-template>
                     
                     <ng-template #outofstock>
                        <i class = "fa fa-times" aria-hidden="true"></i>
                        <button class = "btn btn-default">Place Order</button> 
                      </ng-template>
                    
                </td>
            </tr>
        </tbody>
    </table>
    
  </div>



<h1 class="text-center">Angular Material Table</h1>
<hr>
<br>
<div class="col-md-12">
    <table mat-table [dataSource]="products" class="mat-elevation-z8">
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let user"> {{user.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="TITLE">
            <th mat-header-cell *matHeaderCellDef> TITLE </th>
            <td mat-cell *matCellDef="let user"> {{user.Title}} </td>
        </ng-container>
        <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let user"> {{user.Price}} </td>
        </ng-container>
        <ng-container matColumnDef="ExpiryDate">
            <th mat-header-cell *matHeaderCellDef> ExpiryDate </th>
            <td mat-cell *matCellDef="let user"> {{user.ExpiryDate}} </td>
        </ng-container>
        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let user"> {{user.Quantity}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
 
</div>



<div class="footer">
    <hr>
    <p class="text-info">Structural Directives are directives which change the structure of the DOM by adding or removing elements. There are three built-in structural directives, NgIf , NgFor and NgSwitch 
    </p>
  </div>
