<!-- 
<div class = "row">
<input type = "number" placeholder="Enter number" [(ngModel)]="Price">

    <div class = "col-md-4">
        <button  (click)="getprice()" class="btn btn-warning btn-block" >Set Price</button>
    </div>
</div>

<br>
<br>

<div class = "row">
    <input type = "text" placeholder="Enter text" [(ngModel)]="Title">
        <div class = "col-md-4">
            <button  (click)="gettitle()" class="btn btn-warning btn-block" >Set Title</button>
        </div>
    </div>
<br>
<br>
<hr/> -->

<div class = 'row'>
    <div class="col-md-2"></div>

    <div class="col-md-8">
    
    <form (ngSubmit)='updateProduct()' [formGroup] = "productform" novalidate class ="form">
        
    <h4 class="text-info">Id</h4>
    <input formControlName='Id'
            type='number'
            class='form-control'/>
            <div class ="alert alert-danger" *ngIf="!productform?.get('Id')?.valid && productform?.get('Id')?.touched">
                ID is Required
            </div>
        <div class ="alert alert-danger" *ngIf="productform?.get('Id')?.hasError('required') && productform?.get('Id')?.touched">
            Id is Required
        </div>
    
    <br>
    <h4 class="text-info">Title</h4>
    <input formControlName='Title'
        type='text'
        class='form-control' />

        <div class ="alert alert-danger" *ngIf="!productform?.get('Title')?.valid && productform?.get('Title')?.touched">
            Title is Required
        </div>
    <br>
    <h4 class="text-info">Price</h4>
    <input formControlName='Price'
            type='number'
            class='form-control'/>
            <div class ="alert alert-danger" *ngIf="productform?.get('Price')?.dirty && productform?.get('Price')?.errors && productform?.get('Price')?.touched">
                Price between{{min}} to {{max}} is Required
            </div>
    <br>  
    <h4 class="text-info">Quantity</h4>
    <input formControlName='Quantity'
        type='number'
        class='form-control'/>
        <div class ="alert alert-danger" *ngIf="productform?.get('Quantity')?.dirty && productform?.get('Quantity')?.errors && productform?.get('Quantity')?.touched">
            Quantity   between {{qmin}} to {{qmax}} is Required
        </div>

    <br>
    <h4 class="text-info">ExpiryDate</h4>
    <input formControlName='ExpiryDate'
        type='text'
        class='form-control'/>
        <div class ="alert alert-danger" *ngIf="productform?.get('ExpiryDate')?.dirty && productform?.get('ExpiryDate')?.errors && productform?.get('ExpiryDate')?.touched">
            ExpiryDate is Required
        </div>
    
    


    <br>
    <button [disabled] = 'productform.invalid' class="btn btn-primary btn-block">Update</button>
    <br>
    <br>
    </form>
    </div>

    <div class="col-md-2"></div>
</div>

