
<div class = "row">
<input type = "number" placeholder="Enter number" [(ngModel)]="price">

    <div class = "col-md-4">
        <button  (click)="getprice()" class="btn btn-warning btn-block" >Set Price</button>
    </div>
</div>

<br>
<br>

<div class = "row">
    <input type = "text" placeholder="Enter text" [(ngModel)]="title">
        <div class = "col-md-4">
            <button  (click)="gettitle()" class="btn btn-warning btn-block" >Set Title</button>
        </div>
    </div>
<br>
<br>
<hr/>
<br>
<br>