<br>
<br>
<br>
<h2 class = "text-center border border-info"> Error Handler </h2>
<br>
<br>
<br>

<div class = "col-md-2">
    <button (click) = "Onclick()" class="btn btn-dark btn btn-block ">Error handler</button>
  </div>
  <br>

  <div class="row">
        <div class = "col-md-4">
            <img src = "../assets/error.jpg" height="400" width="600">
        </div>
        <br>
        <div class = "col-md-4">
            
        </div>
        <br>
        <div class = "col-md-4">
            <img src = "../assets/error1.jpg" height="400" width="640">
        </div>
        
        <div class="footer">
            <hr>
            <p class="text-info">
                Error handling refers to the routines in a program that respond to abnormal input or conditions. The quality of such routines is based on the clarity of the error messages and the options given to users for resolving the problem 
            </p>
          </div>
        
  </div>
 
