<br>
<br>
<br>
<h2 class = "text-center border border-info"> Details </h2>
<br>
<br>
<br>
<!-- <div class = "row">
    <table class = "table">
        <thead class = "thead-dark">
            <tr>
                <th>
                    Purchase Id
                </th>
                
                <th>
                    Purchase Date
                </th>
                <th>
                    Purchase Vendor Name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let i of purchaseproducts">
                <td>{{i.PId}}</td>
                <td>{{i.PDate}}</td>
                <td><button class = "btn btn-link">{{i.PVendorName}}></button></td>

            </tr>
        </tbody>
    </table>
    
 </div>  -->
 <br>
 <br>
 <div class = "col-md-12">
    <mat-accordion class = "example-headers-align">
        <mat-expansion-panel *ngFor="let p of purchaseproducts">
        <mat-expansion-panel-header>
        <mat-panel-title>
            <h2>{{p.PId}}</h2>
        </mat-panel-title>
        <mat-panel-description>
            <h2 class = "text-info">{{p.PVendorName}}</h2>

        </mat-panel-description>
        </mat-expansion-panel-header>

        <app-purchase-order [PurchaseItem] = 'p'></app-purchase-order>

        </mat-expansion-panel>
    </mat-accordion>

    <br>
    <br>
    <br>
 
    <div class="footer">
        <hr>
        <p class="text-info">Component communication in angular is occures between  components when they share data and information with another component by passing data or events. a component can be used inside another component, thus creating a component hierarchy</p>
      </div>

</div>

                
                
