
<h2 class = text-center> Product Items </h2>
<div class = "row">
    <table class = "table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Price
                </th>
                <th>
                    ExpiryDate
                </th>
                <th>
                    Quantity
                </th>
                
            </tr>
        </thead>
        <tbody>
           <tr>
                <td>{{product.Id}}</td>
                <td>{{product.Title}}</td>
                <td>{{product.Price}}</td>
                <td>{{product.ExpiryDate}}</td>
                <td>{{product.Quantity}}</td>
                
                
            </tr>
        </tbody>
    </table>
    
</div>




