 



<br>
<br>
<br>
<h6><div class="bg-info display-2">Angular</div></h6>

<div class="row">
    
    <div class="col-md-5">
        <br>
        <h1 class=" text-dark">Index</h1>
        <ol>
            <li> <a routerLink = "/login">Login</a> </li>
            <li> <a routerLink = "/databinding">T-shirt</a> </li>
            <li> <a routerLink = "/product">Product</a> </li>
            <li> <a routerLink = "/masterdetails">Master Details</a> </li>
            <li> <a routerLink = "/directive">Attribute Directive</a> </li>
            <li> <a routerLink = "/shareddata">Data Sharing</a> </li>
            <li> <a routerLink = "/error">Error Handling</a> </li>
            <li> <a routerLink = "/rxjs">RxJS</a> </li>
        </ol>
    </div>


    <!DOCTYPE html> 
    <html> 
      
    <head> 
      
        <style>
            .vertical {
                border-left: 5px solid black;
                height: 200px;
            }
        </style>
    </head>
      
    <body> 
      
        <h1 style= "color: green;"> 
           
        </h1> 
              
        <div class= "vertical"></div>
      
    </body> 
      
    </html> 


    <div class="col-md-4">
        <br>
        <img src = "../assets/angular.jpg">
    </div>

   
</div>

<br>




