<br>
<br>
<br>

<div class = 'row'>
    <div class ="col-md-2"></div>
    <div class ="col-md-8">
    <form (ngSubmit)='login()' [formGroup] = "loginForm" novalidate class ="form">

        <h4 class="text-info">E-mail :</h4>
        <input formControlName='email'
        type='text'
        class='form-control'
        placeholder="Enter email"/>
        <div class ="alert alert-danger" *ngIf="loginForm?.get('email')?.hasError('required') && loginForm?.get('email')?.touched">
        Email is Required
        </div>

        <br>
        <h4 class="text-info"> Password :</h4>
        <input formControlName='password'
        type='password'
        class='form-control'
        placeholder="Enter password"/>
        <div class ="alert alert-danger" *ngIf="!loginForm?.get('password')?.valid && loginForm?.get('password')?.touched">
        Password is Required
        </div>

        <br>
        <h4 class="text-info">Age : </h4>
        <input formControlName='age'
        type='number'
        class='form-control'
        placeholder="Enter Age"/>
        <div class ="alert alert-danger" *ngIf="loginForm?.get('age')?.dirty && loginForm?.get('age')?.errors && loginForm?.get('age')?.touched">
        Age between{{min}} to {{max}} is Required
        </div>

        <br>
        <h4 class="text-info">Phone Number :</h4>
        <input formControlName='phonenumber'
        type='text'
        class='form-control'
        placeholder="Enter phonenumber"/>
        <div class ="alert alert-danger" *ngIf="!loginForm?.get('phonenumber')?.valid && loginForm?.get('phonenumber')?.hasError('required') && loginForm?.get('phonenumber')?.touched">
        Phone number Required
        </div>



        <br>
        <label class = 'control-label'>Send Notification</label>
        <br>
        <label class=" radio-inline">
            <input type ="radio" value="email" formControlName ="notification">Email
        </label>
        <label class=" radio-inline">
            <input type ="radio" value="phone" formControlName ="notification">Phone
        </label>




    <br>
    <button [disabled] = 'loginForm.invalid' class="btn btn-primary btn-block">Login</button>
    <br>
    <button (click) = "cancel()" class="btn btn-warning btn-block">Reset</button>
    </form>
    </div>

    <div class ="col-md-2"></div>
</div>
