<br>
<br>
<br>
<h2 class = "text-center border border-info"> Attribute Directive </h2>
<br>
<br>
<div class="row">
    <div class = "col-md-4"></div>

    <div class = "col-md-4">
        <h4 class="text-info">Enter Color :</h4>
        <input placeholder = "EnterColor" type="text" [(ngModel)] = 'c' >
        <br>
        <br>
        <div appChangecolor [color] = 'c'>Move mouse over me</div>
    </div>

    <div class = "col-md-4"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="footer">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr>
        <p class="text-info"> Attribute directives are a way of changing the appearance or behavior of a component or a native DOM element. </p>
      </div>
   
</div>



