<h2 class = "text-center"> Choose T-Shirt </h2>
<br>

<div class="row">
<div class = "col-md-2">
  <button (click) = "Onclick()" class="btn btn-primary ">Error handler</button>
</div>

  <div class = "col-md-4">
  
Height : <input type = "text" [(ngModel)] = 'a'>
  </div>
  
  <div class = "col-md-4">

Width : <input type = "text" [(ngModel)] = 'b'>
  </div>
</div>
<br>
<br>
<br>
<div class ="row">
  <div class = "col-md-4">
    
  </div>
  <div class = "col-md-4">
    <img [src] = "imgSource" (click) ="setwidth()" [style.height.px] = 'a' [style.width.px] = 'b' (mouseenter)="onmouse1()" (mouseleave)="onmouse2()">  
  </div>

<div class="col-md-4"></div>
<br>
<br>
<h5> => You can also change it's size </h5>
<br>
<h5> => Move your mouse on T-Shirt to see the other side </h5>

</div>



