<br>
<br>
<br>
<h2 class = "text-center border border-info"> Choose T-Shirt </h2>
<br>
<br>
<br>
<div class="row">
<div class = "col-md-2">
  
</div>

  <div class = "col-md-4 ">

  <h4 class="text-info">Height :</h4>
 <input type = "text" [(ngModel)] = 'a'>
  </div>
  
  <div class = "col-md-4">

<h4 class="text-info">Width : </h4>
<input type = "text" [(ngModel)] = 'b'>
</div>
</div>
<br>
<br>
<br>
<div class ="row">
  <div class = "col-md-4">
    
  </div>
  <div class = "col-md-4">
    <img [src] = "imgSource" (click) ="setwidth()" [style.height.px] = 'a' [style.width.px] = 'b' (mouseenter)="onmouse1()" (mouseleave)="onmouse2()">  
  </div>

<div class="col-md-4"></div>
<br>
<br>

<div class="footer">
  <hr>
  <p class="text-info">Data binding in AngularJS is the synchronization between the model and the view. In this we use Databinding like: interpolation for the heading ,property binding for height and width,event binding in image.</p>
</div>

</div>



